<!DOCTYPE html>
<style type="text/css">
 .topcorner{
  position:absolute;
  top:10;
  right:10;
  }
</style>
<html>
    <head>
   	<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
   	<link rel="icon" href="/static/favicon.ico" type="image/x-icon">
        {% if title %}
        <title>ATTICUS - {{ title }}</title>
        {% else %}
        <title>ATTICUS</title>
        {% endif %}
	{% block scripts %}{% endblock %}
    </head>
    <body>
        <div class="topcorner">
	    Welcome, <a href="{{ url_for('user', username=current_user.username) }}">{{ current_user.username }}</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
	    <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
	</div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>

