{% extends "base.html" %}

{% block content %}
	<table>
		<tr><td>Title</td><td>{{contract.template.title}}</td></tr>
		<tr><td>Deal</td>
			{% if parent is not none %}
			<td><a href={{"/contract/" ~ parent.id}}>{{parent.memo}}</a></td>
			{% else %}
			<td>{{ contract.memo }}</td>
			{% endif %}
		</tr>
		<tr><td>Memo</td>
			{% if parent is not none %}
			<td>{{contract.memo}}</td>
			{% else %}
			<td>[Original]</td>
			{% endif %}
		</tr>
		<tr><td>Status</td><td>{{contract.status}}</td></tr>
		<tr><td>Owner</td><td>{{contract.owner.username}}</td></tr>
		<tr><td>Text</td><td>{{contract.template.body}}</td></tr>
		<!--<tr><td>Code</td><td>{{contract.template.code}}</td></tr>-->
		<tr><td>Parties</td>
			<td>
				{% for party in parties %}
				<li>{{party.role}}: {{party.user.username}}</li>
				{% endfor %}
			</td></tr>
		<tr><td>Params</td><td>{{contract.params}}</td></tr>
		<tr><td>Actions</td><td>
			{% for action in transitions[contract.status]["owner" if contract.owner.id == current_user.id else "cparty"] %}
                	<a href={{"/contract/" ~ contract.id ~ "/" ~ action}}>{{action}}</a>
                	{% endfor %}
                	{% for action in transitions[contract.status]["any"] %}
                	<a href={{"/contract/" ~ contract.id ~ "/" ~ action}}>{{action}}</a>
                	{% endfor %}
		</td></tr>
	</table>
	<hr>
	<h3>Timeline</h3>
	<table>
		<tr><th>When</th><th>What</th><th>Who</th><th>Contract</th><th>Message</th></tr>
		{% for t in timeline %}
		<tr>
			{% for item in t %}
			<td>{{item}}</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</table>
	<hr>
	<h3>Send Message</h3>
	<form action="" method="post">
		{{ msg_form.hidden_tag() }}
		<p>
            		{{ msg_form.message.label }}:<br>
            		{{ msg_form.message }}<br>
	    		{% for error in msg_form.message.errors %}
            			<span style="color: red;">[{{ error }}]</span>
            		{% endfor %}
		</p>
		<p>{{ msg_form.submit() }}</p>
	</form>
{% endblock %}
