{% extends "base.html" %}

{% block content %}
    <h1>New Proposal</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.template_id.label }}<br>
            {{ form.template_id }}<br>
            {% for error in form.template_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.params.label }}<br>
            {{ form.params(size=64) }}<br>
            {% for error in form.params.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.parties.label }}<br>
            {{ form.parties(size=64) }}<br>
            {% for error in form.parties.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
