{% extends "base.html" %}

{% block scripts %}
<script type="text/javascript">
function getPartyLabels() {
	var xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = function() {
		if (this.readyState == 4 && this.status == 200) {
			labels = JSON.parse(this.responseText);
			var body = "<table>";
			var party_struct = "[";
			for (i = 0; i < labels.length; i++) {
				body += '<tr><td>' + labels[i] + '</td>';
				body += '<td><select id="party_label_' + i + '" onchange="setPartyLabel(' + i + ')">';
				{% for u in contacts %}
				body += '<option value="' + {{u.id}} + '">' + '{{u.username}}' + '</option>';
				{% endfor %}
				body += '</select></td></tr>';
				party_struct += '{"label": "' + labels[i] + '", "user_id": "1"}';
				if (i < labels.length - 1) {party_struct += ', ';}
			}
			body += "</table>"
			party_struct += "]";
			document.getElementById("parties_div").innerHTML = body;
			document.getElementById("parties").value = party_struct;
		}
	};
	xhttp.open("GET", "/template/" + document.getElementById("template_id").value + "/party_labels", true);
	xhttp.send();
}
function setPartyLabel(index) {
        labels = JSON.parse(document.getElementById("parties").value);
	my_label = document.getElementById("party_label_" + index).value;
        labels[index]['user_id'] = my_label;
        document.getElementById("parties").value = JSON.stringify(labels);
}
function updateFields() {
	var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                        fields = JSON.parse(this.responseText);
			var body = '<textarea id="body_text" rows="10" cols="50">';
			body += fields['text'];
			body += '</textarea>';
			document.getElementById("text_div").innerHTML = body
			var code = '<textarea id="body_code" rows="10" cols="50">';
			code += fields['code'];
			code += '</textarea>';
			document.getElementById("code_div").innerHTML = code
                }
        };
        xhttp.open("GET", "/template/" + document.getElementById("template_id").value + "/raw", true);
        xhttp.send();
}
function setParamValue(index) {
	params = JSON.parse(document.getElementById("params").value);
	params[index]['value'] = document.getElementById("param_value_" + index).value;
	document.getElementById("params").value = JSON.stringify(params);
}
function getParams() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                        params = JSON.parse(this.responseText);
                        var body = "<table>";
                        var params_struct = "[";
                        for (i = 0; i < params.length; i++) {
                                body += '<tr><td>' + params[i]['label'] + '</td>';
                                body += '<td><input id="param_value_' + i + '" onchange="setParamValue(' + i + ')">';
                                body += '</input></td></tr>';
                                params_struct += '{"label": "' + params[i]['label'] + '", "value": ""}';
                                if (i < params.length - 1) {params_struct += ', ';}
                        }
                        body += "</table>"
                        params_struct += "]";
                        document.getElementById("params_div").innerHTML = body;
                        document.getElementById("params").value = params_struct;
                }
        };
        xhttp.open("GET", "/template/" + document.getElementById("template_id").value + "/params", true);
        xhttp.send();
}
function updateTemplate() {
	getPartyLabels();
	getParams();
	updateFields();
}
window.onload = function() {
	updateTemplate();
}
</script>
{% endblock %}

{% block content %}
    <h1>New Draft</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.template_id.label }}:<br>
	    {{ form.template_id(**{'onchange':'updateTemplate();'}) }}<br>
            {% for error in form.template_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
	<p>
	Text:<br>
	<div id="text_div">
		<textarea id="body_text" disabled rows="10" cols="50"></textarea>
	</div>
	<p>
	<p>
	Code:<br>
	<div id="code_div">
		<textarea id="body_code" disabled rows="10" cols="50"></textarea>
	</div>
	<p>
	Parties:<br>
	<div id="parties_div"></div><br>
	</p>
	<p>
	Parameters:<br>
	<div id="params_div"></div><br>
	</p>
        <p>
            {{ form.parties.label }}<br>
            {{ form.parties(size=64) }}<br>
            {% for error in form.parties.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
	</p>
        <p>
            {{ form.params.label }}<br>
            {{ form.params(size=64) }}<br>
            {% for error in form.params.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
	</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
