{% extends "base.html" %}

{% block scripts %}
<script type="text/javascript">
function getPartyLabels() {
	var xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = function() {
		if (this.readyState == 4 && this.status == 200) {
			labels = JSON.parse(this.responseText);
			var body = "<table>";
			var party_struct = "[";
			for (i = 0; i < labels.length; i++) {
				body += '<tr><td>' + labels[i] + '</td>';
				body += '<td><input type="text" id="party_label_' + i + '"></input>';
				body += '<button type="button" onclick="setPartyLabel(' + i + ')">Set</button></td></tr>';
				party_struct += '{"label": "' + labels[i] + '", "user": ""}';
				if (i < labels.length - 1) {party_struct += ', ';}
			}
			body += "</table>"
			party_struct += "]";
			document.getElementById("parties_div").innerHTML = body;
			document.getElementById("parties").value = party_struct;
		}
	};
	xhttp.open("GET", "/template/" + document.getElementById("template_id").value + "/party_labels", true);
	xhttp.send();
}
function setPartyLabel(index) {
        labels = JSON.parse(document.getElementById("parties").value);
	my_label = document.getElementById("party_label_" + index).value;
        labels[index]['user'] = my_label;
        document.getElementById("parties").value = JSON.stringify(labels);
}
window.onload = function() {
	getPartyLabels();
}
</script>
{% endblock %}

{% block content %}
    <h1>New Draft</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.template_id.label }}<br>
	    {{ form.template_id(**{'onchange':'getPartyLabels();'}) }}<br>
            {% for error in form.template_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
	<p>
	Parties
	<div id="parties_div"></div>
	</p>
        <!--<p>
            {{ form.params.label }}<br>
            {{ form.params(size=64) }}<br>
            {% for error in form.params.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
	</p>-->
        <!--<p>
            {{ form.parties.label }}<br>
            {{ form.parties(size=64) }}<br>
            {% for error in form.parties.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
	</p>-->
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
