{% extends "base.html" %}

{% block content %}
<h2>My Drafts</h2>
<input type="button" onclick="location.href='/contract/new';" value="New Draft" />
<table border="1">
        <tr><th>Title</th><th>Parties</th><th>Actions</th></tr>
        {% for p in proposals %}
        <tr><td align="left"><a href="{{url_for('show_draft', contract_id=p.id)}}">{{p.template.title}}</a></td><td align="left">
                {% for party in p.party %}
                        {{party.user.username}}
                {% endfor %}
                </td><td align="right">
                {% for action in transitions[p.status]["owner" if p.owner.id == current_user.id else "cparty"] %}
                <a href={{"/contract/" ~ p.id ~ "/" ~ action}}>{{action}}</a>
                {% endfor %}
                {% for action in transitions[p.status]["any"] %}
                <a href={{"/contract/" ~ p.id ~ "/" ~ action}}>{{action}}</a>
                {% endfor %}
                </td></tr>
        {% else %}
        <tr><td>[No drafts]</td></tr>
        {% endfor %}
</table>
<h2>Proposals</h2>
<table border="1">
	<tr><th>Title</th><th>Owner</th><th>Status</th><th>Signatures</th><th>Actions</th></tr>
	{% for p in proposals %}
	<tr><td align="left"><a href="{{url_for('show_draft', contract_id=p.id)}}">{{p.template.title}}</a></td><td align="left">{{p.owner.username}}</td><td align="left">{{p.status}}</td><td align="right">
		{% for party in p.party %}
			{% if party.signed_on == None %}
				{{party.user.username}}
			{% else %}
				<u>{{party.user.username}}</u>
			{% endif %}
		{% endfor %}
		</td><td align="right">
		{% for action in transitions[p.status]["owner" if p.owner.id == current_user.id else "cparty"] %}
		<a href={{"/contract/" ~ p.id ~ "/" ~ action}}>{{action}}</a>
		{% endfor %}
		{% for action in transitions[p.status]["any"] %}
		<a href={{"/contract/" ~ p.id ~ "/" ~ action}}>{{action}}</a>
		{% endfor %}
		</td></tr>
	{% else %}
	<tr><td>[No proposals]</td></tr>
	{% endfor %}
</table>
<h2>Active Contracts</h2>
<table border="1">
	<tr><th>Title</th><th>Owner</th><th>Status</th><th>Actions</th></tr>
	{% for c in contracts %}
	<tr><td align="left"><a href="{{url_for('show_draft', contract_id=c.id)}}">{{c.template.title}}</a></td><td align="left">{{c.owner.username}}</td><td align="left">{{c.status}}</td>
		</td><td align="right">
		{% for action in transitions[c.status]["owner" if c.owner.id == current_user.id else "cparty"] %}
		<a href={{"/contract/" ~ c.id ~ "/" ~ action}}>{{action}}</a>
		{% endfor %}
		{% for action in transitions[c.status]["any"] %}
		<a href={{"/contract/" ~ c.id ~ "/" ~ action}}>{{action}}</a>
		{% endfor %}
		</td></tr>
	{% else %}
	<tr><td>[No contracts]</td></tr>
	{% endfor %}
</table>
<h2>My Templates</h2>
<input type="button" onclick="location.href='/template/new';" value="Create New Template" />
<table border="1">
	<tr><th>Title</th><th>Owner</th><th>Actions</th></tr>
	{% for t in templates %}
	<tr><td align="left"><a href="{{url_for('show_template', template_id=t.id)}}">{{t.title}}</a></td><td align="left">{{t.owner.username}}</td><td align="right"></td></tr>
	{% else %}
	<tr><td>[No templates]</td></tr>
	{% endfor %}
</table>
{% endblock %}
